section.title-section
  .title-section__content
    .title-section__slider
      .title-section__slider-item-1
        h2.title-section__title Lian Creative Agency
        span.title-section__desc Minimal Freelance Portfolio
      .title-section__slider-item-2
        h2.title-section__title Lian Creative Agency
        span.title-section__desc Minimal Freelance Portfolio
      .title-section__slider-item-3
        h2.title-section__title Lian Creative Agency
        span.title-section__desc Minimal Freelance Portfolio 
