section.title-section
  .title-section__content
    .title-section__fog
    .title-section__slider
      .title-section__slider-item-1
      .title-section__slider-item-2
      .title-section__slider-item-3
    .title-section__text 
      h2.title-section__title Lian Creative Agency
      span.title-section__desc Minimal Freelance Portfolio

