.grid
  .grid__content
    .grid__col-1
      .grid__item
        img.grid__photo(src="/assets/img/col-1-1.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-1-2.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-1-3.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
    .grid__col-2
      .grid__item
        img.grid__photo(src="/assets/img/col-2-1.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-2-2.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-2-3.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-2-4.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
    .grid__col-3
      .grid__item
        img.grid__photo(src="/assets/img/col-3-1.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-3-2.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
      .grid__item
        img.grid__photo(src="/assets/img/col-3-3.png", alt="Our work")
        a.grid__link(href="#") <i class="fas fa-plus grid__icon"></i>
  a(href="#").grid__btn.btn Load more