.works-section {
  background-color: #fafafa;
  &__content {
    max-width: 1140px;
    margin: auto;
    padding: 31px 0;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: "Roboto-Bold", "Arial", "Helvetica", sans-serif;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    @media(max-width: $md) {
      flex-wrap: wrap;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      @media(max-width: $md) {
        margin: 10px;
      }
    }
    &:not(:last-child):after {
      content: "";
      display: inline-block;
      height: 30px;
      width: 1px;
      margin: 0 15px;
      background-color: $border;
      transform: skewX(-20deg);
      @media(max-width: $md) {
        display: none;
      }
    }
  }
  &__link {
    transition: 300ms;
    &:hover {
      color: #000000;
    }
  }
}

