section.works-section.side-padding
  .works-section__content
    ul.works-section__list
      li.works-section__item
        a.works-section__link(href="#") All
      li.works-section__item
        a.works-section__link(href="#") Logo
      li.works-section__item
        a.works-section__link(href="#") Mobile app
      li.works-section__item
        a.works-section__link(href="#") Wordpress
      li.works-section__item
        a.works-section__link(href="#") Web design
      li.works-section__item
        a.works-section__link(href="#") Ui/Ux
      li.works-section__item
        a.works-section__link(href="#") Branding
    include ../grid/grid