body {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $text;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.side-padding {
  padding: 0 40px;
}