.header {
  position: relative;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1127px;
    margin: auto;
    padding: 27px 40px 28px 40px;
    background-color: #ffffff;
    @media(max-width: $md) {
      padding: 27px 20px 28px 20px;
    }
    @media(max-width: 300px) {
      flex-direction: column;
    }
  }
  &__logo {
    max-width: 131px;
  }
  &__nav {
    @media (max-width: $md) {
      position: absolute;
      top: 113px;
      left: 0;
      width: 100%;
      display: none;
      background-color: #ffffff;
      z-index: 11;
    }
    @media( max-width: 300px) {
      top: 152px;
    }
  }
  &__list {
    display: flex;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  &__item {
    position: relative;
    margin-left: 40px;
    @media (max-width: $md) {
      width: 200px;
      margin: auto;
      padding: 7px 0;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid $text;
      }
    }
  }
  &__link {
    text-transform: uppercase;
    font-family: "Roboto-Bold", "Arial", "Helvetica", sans-serif;
    transition: 300ms;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: -30px;
      display: block;
      width: 0;
      height: 1px;
      background-color: #000000;
      transition: 300ms;
      @media (max-width: $md) {
        display: none;
      }
    }
    &:hover:before {
      width: 20px;
    }
    &:hover {
      color: #000000;
    }
  }
}

.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  @media (max-width: $md) {
    display: inline-block;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $text;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $text;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  z-index: 3;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
    
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
