footer.footer
  .footer__content
    a.footer__logo-wrap(href="#")
      img.footer__logo(src="/assets/img/logo.png", alt="Logo")
    ul.footer__list
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-facebook-f"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-google-plus-g"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-twitter"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-linkedin-in"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fas fa-globe"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-pinterest-p"></i>
      li.footer__item
        a.footer__link(href="#") <i class="fab fa-instagram"></i>
    span.footer__copy © 2016 <span class="footer__copy_dark">Mulitix Theme</span> by ThemeForces. All Rights Reserved.